@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #002145;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

.web-name {
  font-family: 'ARIAL';
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* post grid */

.post-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
 
 .post-card {
  width: 100%;
  padding: 10px;
  background: #BCDFF7;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  border: 2px solid #057BA4;
 }
 
 .post-card .course-name {
  position: absolute;
  top: -10px;
  right: -10px;
  /* background: var(--secondary); */
  background: var(--primary);
  color: #fff;
  border-radius: 6px;
  width:80px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
 }

 /* forms  - David */
form {
  background: #ffffff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
  font-weight: bold;
}
form textarea {
  display: block;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  resize: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

form input {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}
.post-card .buttons {
  /* text-align: right; */
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* search bar */

/* .searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
} */

/* order-by buttons */
.order-by button {
  margin-right: 10px;
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-by button:hover {
  background: #057BA4;
}

input[type="text"] {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url("searchicon.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 5px;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 100%;
}

.logo {
  width: 10%;
}

.logo-text {
  width:30%;
}

.post-title {
  text-align: center;
  font-size: 20px;
}

/* for creat post button */
.post-button-container {
  text-align: right; 
}

.button-style {
  padding: 10px 15px;
  background-color: #28a745; /* Original background color */
  color: white; /* Text color */
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  right: 125px; /* Moves the button 10px to the right */
  top: -10px;
  transition: background-color 0.3s; /* Smooth transition for the background color */
}

.button-style:hover {
  background-color: #218838; /* New background color when hovered */
}

/* create button */
.create-button {
  transition: background-color 0.3s;
}

.create-button:hover {
  background: #057BA4;
}

/* .linkContainer {
  display: flex;
  /* align-items:center; */
  /* justify-content: left; */
  /* position: relative;
  right: 400px; /* Moves the button 10px to the right */
  /* top: 50px; */
/* } */

